*{
    margin: auto;
    text-decoration: none;
}
.menu{
    margin: 50px auto;
}
.box{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 300px;
    max-height: 500px;
    margin: 0 auto 100px auto;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    
}
.container h1 {
    font-family: 'Muli', sans-serif;
    margin-bottom: 20px;
    font-size: 70px;
    color: #FFFFFF;
    text-align: center;
}
/* MENU INTERATIVO */
  .stage{
    text-align: center;
    position: relative;
    padding: auto;
    height: 350px;
    width: 250px;
    margin: 0 auto 0 auto;
  }

  .div{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 50px;
    margin-top: 7%;
    transition-duration: 0.2s;
    background: #4CAF50;
  }

  .p{
    padding: 4px;
    font-size: 30px;
    text-align: center;
    margin-top: 0;
    cursor: pointer;
    width: 100%;
    color: #FFFFFF;
    font-family: 'Muli', sans-serif;
    letter-spacing: 5px;
  }

  .div:hover{
    background: #6fcf97;
  }
  .div:nth-child(odd){
    transform: perspective(500px) rotateY(15deg);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .div:nth-child(even){
    transform: perspective(500px) rotateY(-15deg);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .div:hover{
    transform: rotateY(0);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  

