@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Mansalva|Muli:600&display=swap');
body {
    background: #6fcf97;
    font-family: "Roboto", sans-serif;      
  }
/*Lista galeria*/
ul.fase-list{
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 0px;
    padding: 0px;
}

ul.fase-list li{
    display: flex;
    flex-direction: column;
    width: 120px;
}
ul.fase-list strong{
    margin: 5px;
    width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

ul.fase-list li header{
    width: 120px;
    height: 120px;
    background-color: #F0F0F0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.login-page{
    width: 360px;
    padding: 50px 0 0;
    margin: auto;  
}

.login-page hr{
  margin-bottom: 15px;
  color: #b3b3b3;
}

.login-page h1{
    font-family: 'Muli', sans-serif;
    margin-bottom: 20px;
    font-size: 55px;
    color: #FFFFFF;
    text-align: center;
}

.login-page form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .login-page input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .login-page button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    transition: 0.2s;
    cursor: pointer;
  }

  .login-page button:hover {
    background: #43A047;
  }
  .login-page .message {
    margin-top: 10px;
    color: #b3b3b3;
    font-size: 14px;
  }
  .login-page .message a {
    color: #4CAF50;
    text-decoration: none;
  }

  .login-page .message-red {
    margin-top: 10px;
  }

  .login-page .message-red a {
    font-size: 15px;
    color: #FF1C1C;
    text-decoration: none;
  }